:root {
    --column-gap: 24px;
    --page-vertical-padding: 18px;
    --left-width: 187px;
    --center-width-ratio: 530fr;
    --right-width-ratio: 187fr;
    --main-padding: 18px;
    --middle-line-horizontal-margin: 4px;
    --main-font-size: 14px;
    --text-font-size: 16px;
    --correction-font-size: 18px;
    --subcaption-font-size: 12px;
    --subcaption-margin-bottom: 18px;
    --line-height: 1.25;
    --replacement-line-height: 1.5;
    --tooltip-width: 300px;
    --tooltip-margin: 10px; /* Number of pixels between the tooltip's border and the edges of the page */
    --tooltip-top-margin: 4px; /* Gap between the text being corrected and the tooltip */
    --tooltip-border-width: 3px;
    --block-spacing: 32px;

    --blue: 49, 117, 185;
    --text-color: #2A2A2A;
    --background-text-color: #BBBBBB;
    --mistake-color: #B83F31;
    --improvement-color: #579B2D;
    --uncertain-color: rgb(var(--blue));
    --line-color: black;
    --input-background-color: white;
    --tooltip-background-color: #FAFAF8;
    --tooltip-border-color: #BEA2AE;
    --cover-background-color: var(--tooltip-background-color);
    --cover-text-color: var(--background-text-color);

    --correction-transition-duration: 0.3s;
    --replacement-highlight-duration: 0.1s;
    --focus-and-cover-transition-duration: 0.15s;
}

html {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: var(--main-font-size);
    line-height: var(--line-height);
    background-color: #F3F0E4;
    color: var(--text-color);
    padding-bottom: 0; /* This is required for the tooltip scripts to expand the page height correctly when needed */
    min-width: calc(var(--tooltip-width) + 2 * var(--tooltip-margin));
}

body {
    display: grid;
    grid-column-gap: var(--column-gap);
    padding: var(--page-vertical-padding) var(--column-gap);
    grid-template-columns: var(--left-width) var(--center-width-ratio) var(--right-width-ratio);
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
            ".    heading      heading"
            "info instructions .      "
            "info input        tweaks ";
}

h1, h2, h3, p {
    margin-top: 0;
}

h1, .instructions, .info, .tweaks {
    padding: 0 var(--main-padding);
}

.info {
    padding-right: 0;
}

a {
    color: rgb(var(--blue));
}

a.quoted {
    text-decoration: none;
}

a:visited {
    color: #8A68AC;
}

a:hover {
    color: #B93F31;
}

.no-break {
    white-space: nowrap;
}

.checkbox-container {
    display: inline-flex;
    align-items: baseline;
}

.checkbox-container + .checkbox-container {
    margin-top: 6px;
}

.checkbox-container .checkbox {
    position: relative;
    top: 2px;
    margin-right: 4px;
}

h1, h3 {
    color: #64595F;
    font-weight: normal;
}

h1 {
    font-size: 24px;
}

h3 {
    font-size: var(--subcaption-font-size);
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: var(--subcaption-margin-bottom);
    --middle-line-left-width: 28px;
}

h3::before, h3::after {
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    background-color: var(--line-color);
    opacity: 0.1;
}

h3::before {
    width: var(--middle-line-left-width);
    margin-right: var(--middle-line-horizontal-margin);
}

h3::after {
    width: 100%;
    margin-left: var(--middle-line-horizontal-margin);
}

.instructions h2, .info h2, main h2 {
    display: none;
}

.explanation {
    cursor: help;
    border-bottom: 1px dotted;
    position: relative;
}

.explanation:hover::after {
    content: attr(data-title);
    display: block;
    position: absolute;
    background-color: var(--tooltip-background-color);
    padding: 6px 10px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    z-index: 2;
    width: 150px;
    right: -20px;
    top: calc(100% + 4px);
}

t-t {
    color: var(--correction-color);
    display: inline-block; /* We will have to resort to this until hyphens: nowrap is implemented in browsers */
    max-width: 100%;
    position: relative;
}

.input, .input t-t {
    transition: color var(--correction-transition-duration);
}

.input t-t {
    cursor: pointer;
}

.input t-t.correction-none {
    cursor: inherit;
}

.correction-none {
    --correction-color: var(--input-background-color);
    color: var(--text-color);
}

.correction-mistake {
    --correction-color: var(--mistake-color);
}

.correction-improvement {
    --correction-color: var(--improvement-color);
}

.correction-uncertain {
    --correction-color: var(--uncertain-color);
}

t-t::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    background-color: var(--correction-color);
    transition: background-color var(--correction-transition-duration);

    --mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='60' viewBox='0 0 120 60'%3E%3Cpath stroke-width='15' stroke='%23000000' fill='none' d='M0,40 c24,0 36,-20 60,-20 c24,0 36,20 60,20'/%3E%3C/svg%3E");

    left: 0;
    height: 3px;
    bottom: 0;
    width: 100%;
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
}

.info h3 {
    margin-left: calc(var(--main-padding) * -1);
}

.info article:not(:last-child) {
    margin-bottom: var(--block-spacing);
}

header {
    display: contents;
}

h1 {
    grid-area: heading;
}

.info {
    grid-area: info;
    margin-top: calc(var(--main-font-size) - var(--subcaption-font-size));
}

.instructions {
    grid-area: instructions;
}

main {
    display: contents;
}

.input {
    grid-area: input;
    min-width: 0; /* This is to prevent the input from expanding the grid when it contains a very long word */
    padding: var(--main-padding);
    outline: none;
    font-size: var(--text-font-size);
    z-index: 3;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.input p:empty {
    height: calc(var(--text-font-size) * var(--line-height));
}

.input-correcting, .input-correcting t-t:not(.correction-current),
.input-correcting-redisplay, .input-correcting-redisplay t-t:not(.correction-current) {
    color: var(--background-text-color);
}

.input-correcting t-t:not(.correction-current)::after,
.input-correcting-redisplay t-t:not(.correction-current)::after {
    background-color: var(--background-text-color);
}

.input-correcting t-t.correction-none::after,
.input-correcting-redisplay t-t.correction-none::after {
    background-color: var(--input-background-color);
}

cursor-position {
    display: inline;
    width: 0;
}

.input-bg, .input-cover {
    grid-area: 3 / 2 / 4 / 4;
    border-radius: 10px;
}

.input-bg {
    z-index: 1;
    background-color: var(--input-background-color);
    box-shadow: 0 0 3px rgba(var(--shadow-color), var(--shadow-opacity)),
                0 0 1px rgba(var(--shadow-color), calc(var(--shadow-opacity) * 2 / 3));
    transition: box-shadow var(--focus-and-cover-transition-duration);
    --shadow-color: 0, 0, 0;
    --shadow-opacity: 0.15;
}

.input-cover {
    z-index: 4;
    background-color: var(--cover-background-color);
    color: var(--cover-text-color);
    font-size: 24px;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-cover:not(.active) {
    transition-property: visibility, opacity;
    transition-duration: var(--focus-and-cover-transition-duration);
    opacity: 0;
    visibility: hidden;
}

.input-cover::after {
    display: inline;
}

.input-cover[data-type=loading]::after {
    content: "Триває завантаження...";
}

.input-cover[data-type=processing] {
    --background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2560 1600' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23BBBBBB'%3E%3Cpath d='m405 120.986h-34.651v16h34.651c3.309 0 6 2.691 6 6v183.704h-354v-183.704c0-3.309 2.691-6 6-6h34.651v-16h-34.651c-12.131 0-22 9.869-22 22v235.166c0 12.131 9.869 22 22 22h122.267l-14.852 51.848h-28.777v16h184.723v-16h-28.777l-14.852-51.848h122.268c12.131 0 22-9.869 22-22v-235.166c0-12.131-9.869-22-22-22zm-124.059 331.014h-93.881l14.852-51.848h64.177zm130.059-73.848c0 3.309-2.691 6-6 6h-342c-3.309 0-6-2.691-6-6v-35.462h354z'/%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='m94.678 253.881h18.645v16h-18.645z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m134.678 253.881h18.645v16h-18.645z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='m314.678 253.881h18.645v16h-18.645z'/%3E%3C/g%3E%3Cg%3E%3Cpath d='m354.678 253.881h18.645v16h-18.645z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cpath d='m310.414 30.358c-19.929-19.577-47.066-30.358-76.414-30.358s-56.485 10.781-76.414 30.358c-19.916 19.565-30.884 46.157-30.884 74.878 0 30.658 13.528 59.912 37.116 80.262 11.785 10.168 19.294 24.184 21.942 40.765-6.23 4.018-10.365 11.002-10.365 18.934v6.372c0 9.755 6.249 18.08 14.966 21.212-.919 2.451-1.424 5.102-1.424 7.869v6.371c0 12.429 10.143 22.541 22.609 22.541h44.909c12.467 0 22.609-10.112 22.609-22.541v-6.371c0-2.767-.505-5.418-1.424-7.869 8.716-3.131 14.966-11.457 14.966-21.212v-6.372c0-7.932-4.135-14.915-10.365-18.934 2.648-16.581 10.157-30.598 21.942-40.765 23.587-20.35 37.116-49.604 37.116-80.262-.001-28.721-10.969-55.313-30.885-74.878zm-47.35 256.663c0 3.606-2.965 6.541-6.609 6.541h-44.909c-3.645 0-6.609-2.934-6.609-6.541v-6.371c0-3.606 2.965-6.541 6.609-6.541h44.909c3.645 0 6.609 2.934 6.609 6.541zm13.541-35.452c0 3.606-2.965 6.541-6.609 6.541h-71.991c-3.645 0-6.609-2.934-6.609-6.541v-6.372c0-3.154 2.268-5.794 5.275-6.406.002 0 .003-.001.005-.001 1.351-.274.416-.087 73.321-.133 3.751 0 6.564 3.075 6.609 6.734.024 2.058-.001 4.119-.001 6.178zm-64.622-113.243h-11.902c-3.95 0-7.495-2.874-8.231-6.768-.74-3.914 1.527-7.868 5.234-9.28 2.255-.859 5.695-.849 8.07-.408 3.88.721 6.829 4.195 6.829 8.157zm28.512 84.331h-12.512v-68.331h12.512zm53.235-49.273c-14.448 12.466-23.723 29.39-27.117 49.273h-10.118v-68.331h12.119c13.439 0 24.374-10.9 24.374-24.299 0-13.398-10.934-24.298-24.374-24.298h-3.746c-13.439 0-24.374 10.9-24.374 24.298v8.299h-12.512v-8.299c0-13.398-10.934-24.298-24.374-24.298h-3.528c-13.439 0-24.374 10.9-24.374 24.298s10.934 24.299 24.374 24.299h11.902v68.331h-10.596c-3.393-19.883-12.668-36.807-27.117-49.273-20.062-17.308-31.568-42.147-31.568-68.147.001-50.874 39.251-89.237 91.299-89.237s91.298 38.363 91.298 89.236c0 26.001-11.506 50.84-31.568 68.148zm-37.235-35.058v-8.299c0-4.576 3.756-8.298 8.374-8.298h3.746c4.617 0 8.374 3.723 8.374 8.298 0 4.576-3.756 8.299-8.374 8.299z'/%3E%3C/g%3E%3C/svg%3E");
    background-image: var(--background-image), var(--background-image);
    background-size: 160px 100px, 160px 100px;
    background-repeat: repeat, repeat;
    background-position: 95px 15px, 15px 65px;
}

.input:focus ~ .input-bg {
    --shadow-color: var(--blue);
    --shadow-opacity: 0.6;
}

.tweaks {
    grid-area: tweaks;
    z-index: 2;
}

.tweaks h3 {
    --middle-line-left-width: calc(var(--main-padding) - var(--middle-line-horizontal-margin));
    margin-left: calc(0px - var(--main-padding));
}

.tweaks-container {
    position: sticky;
    top: 0;
    padding-top: calc(var(--main-padding) + var(--text-font-size) - var(--subcaption-font-size));
    padding-bottom: var(--main-padding);
}

.tweaks-subcontainer + .tweaks-subcontainer {
    margin-top: var(--block-spacing);
}

.settings-container {
    display: flex;
    flex-direction: column;
}

.stats-spelling {
    color: #645B60;
    margin-top: calc(var(--main-font-size) * 1.5);
}

.stats-extra {
    margin-left: 8px;
    display: inline-block;
    color: var(--background-text-color);
}

.stats-container dt {
    display: none;
}

.stats-container dd {
    margin: 0 0 4px 0;
}

.stats-mistake strong {
    color: var(--mistake-color);
}

.stats-improvement strong {
    color: var(--improvement-color);
}

.stats-uncertain strong {
    color: var(--uncertain-color);
}

.stats-irrelevant {
    color: var(--background-text-color);
}

token-tooltip {
    cursor: default;
    box-sizing: border-box;
    position: absolute;
    top: calc(100% + var(--tooltip-top-margin));
    left: calc(0px - var(--tooltip-width));
    right: calc(0px - var(--tooltip-width));
    width: var(--tooltip-width);
    margin: auto;
    color: var(--text-color);
    background-color: var(--tooltip-background-color);
    border: var(--tooltip-border-width) solid var(--tooltip-border-color);
    border-radius: 15px;
    padding: 8px 12px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    --tooltip-horizontal-shift: 0;
    transform: translateX(var(--tooltip-horizontal-shift));
    outline: none;
}

token-tooltip.animated {
    animation: token-tooltip-fade-in var(--correction-transition-duration) forwards;
}

token-tooltip::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(0px - var(--tooltip-border-width) - var(--tooltip-top-margin));
    height: var(--tooltip-top-margin);
    background-color: rgba(255, 255, 255, 0);
}

token-correction-container:not(:first-child)::before {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--tooltip-border-color);
    margin: var(--tooltip-margin) auto;
    width: 100%;
}

token-replacement {
    display: block;
    text-align: center;
    line-height: var(--replacement-line-height);
    margin-bottom: 10px;
    overflow: hidden;
}

token-replacement-old {
    color: var(--background-text-color);
}

token-replacement-old::after {
    display: inline-block;
    color: var(--text-color);
}

token-extra-change::after {
    content: "Ця зміна може вимагати додаткових граматичних правок у тексті";
    display: block;
    font-size: smaller;
    background-color: #F5EDD6;
    border-radius: 5px;
    border: 1px dashed var(--tooltip-border-color);
    padding: 4px 8px;
    text-align: center;
}

token-description {
    font-style: italic;
    display: block;
    margin-top: 6px;
}

.replacement-mistake token-replacement-old {
    text-decoration: line-through;
}

.replacement-improvement token-replacement-old::after {
    content: "\00A0\02194\0020"; /* Left-right arrow surrounded by a non-breaking and regular spaces */
}

.replacement-mistake token-replacement-old::after, .replacement-uncertain token-replacement-old::after {
    content: "\00A0\02192\0020"; /* Right arrow surrounded by a non-breaking and regular spaces */
}

.replacement-uncertain token-replacement-old::after {
    color: var(--background-text-color);
}

token-replacement-new {
    --replacement-color: var(--improvement-color);
    --replacement-intensity: 1.4;
    color: var(--replacement-color);
    font-weight: bold;
    font-size: var(--correction-font-size);
}

.replacement-uncertain token-replacement-new {
    --replacement-color: var(--uncertain-color);
    --replacement-intensity: 1;
}

.replacement-uncertain token-replacement-new::after {
    content: "?";
    display: inline-block;
    opacity: 0.3;
    margin-left: 2px;
}

token-replacement-new button {
    background: none;
    border: none;
    padding: 0 3px 2px 3px;
    margin: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    /* We need to set the outline properties explicitly for the outline not to be clipped due to overflow: hidden */
    outline-width: 3px;
    outline-offset: -2px;
}

token-replacement-new button::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    border-radius: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--replacement-color);
    opacity: calc(0.25 * var(--replacement-intensity));
    transition-property: height, opacity;
    transition-duration: var(--replacement-highlight-duration);
}

token-replacement-new button:hover::before, token-tooltip:not(:hover) token-replacement-new button.default-replacement::before {
    opacity: calc(0.1 * var(--replacement-intensity));
    height: 100%;
}

@keyframes token-tooltip-fade-in {
    from {
        opacity: 0;
        transform: translate(var(--tooltip-horizontal-shift), 4px);
    }

    to {
        opacity: 1;
        transform: translate(var(--tooltip-horizontal-shift), 0);
    }
}

@media (max-width: 959px) {
    :root {
        --column-gap: 10px;
    }

    body {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
                "heading"
                "instructions"
                "input"
                "tweaks"
                "info";
    }

    .input-bg, .input-cover {
        grid-area: 3 / 1 / 5 / 2;
    }

    .tweaks h3 {
        margin-right: calc(0px - var(--main-padding));
    }

    .tweaks-container {
        position: static;
        padding-top: 0;
        padding-bottom: 0;
    }

    .info {
        margin-top: var(--block-spacing);
    }

    .info h3 {
        --middle-line-left-width: calc(var(--main-padding) - var(--middle-line-horizontal-margin));
    }

    .info p {
        padding-right: var(--main-padding);
    }
}