a {
    color: rgb(var(--blue));
}

a.quoted {
    text-decoration: none;
}

a:visited {
    color: #8A68AC;
}

a:hover {
    color: #B93F31;
}

.no-break {
    white-space: nowrap;
}

.checkbox-container {
    display: inline-flex;
    width: fit-content;
    align-items: baseline;
}

.checkbox-container + .checkbox-container {
    margin-top: 6px;
}

.checkbox-container .checkbox {
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.explanation {
    cursor: help;
    border-bottom: 1px dotted;
    position: relative;
}

.explanation:hover::after {
    content: attr(data-title);
    display: block;
    position: absolute;
    background-color: var(--tooltip-background-color);
    padding: 6px 10px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    z-index: 2;
    width: 150px;
    right: -20px;
    top: calc(100% + 4px);
}