/*
All these rules need to live here for the time being, because there is no apparent way to share the max-width
parameter between multiple CSS files.
*/

@media (max-width: 959px) {
    body {
        --column-gap: 10px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
                "heading"
                "instructions"
                "input"
                "tools"
                "info";
    }

    .input-bg, .input-overlay {
        grid-area: 3 / 1 / 5 / 2;
    }

    .input-navigation {
        margin-bottom: 0; /* So that empty text does not make the input taller than it should be */
    }

    .input-navigation-next::before {
        box-shadow: calc(0px - var(--input-navigation-spread-shift)) calc(0px - var(--input-navigation-spread-shift))
            calc(var(--input-navigation-blur-radius) - var(--input-navigation-spread-shift))
            var(--input-navigation-spread-radius) var(--input-navigation-shadow-color);
        border-top-right-radius: 0;
    }

    .tools h3 {
        margin-right: calc(0px - var(--main-padding));
    }

    .tools-container {
        position: static;
        padding-top: 0;
        padding-bottom: 0;
    }

    .info {
        margin-top: var(--block-spacing);
    }

    .info h3 {
        --middle-line-left-width: calc(var(--main-padding) - var(--middle-line-horizontal-margin));
    }

    .info p {
        padding-right: var(--main-padding);
    }
}